[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pylint = "*"
mypy = "*"
autopep8 = "*"

[scripts]
start = "python src/main.py"

[packages]
selenium = "*"
click = "*"
schedule = "*"
slackweb = "*"

[requires]
python_version = "3.8"
