[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pylint = "*"
mypy = "*"
autopep8 = "*"

[scripts]
start = "sh analysis.sh"

[packages]
selenium = "*"
chromedriver-binary = "==79.0.3945.36.0"
click = "*"

[requires]
python_version = "3.6"
